.benefits {
    max-height:100px;
    transition:max-height 1s ease;
    h3 { //accordian style text boxes below
        background-color: white;
        opacity: .8;
        border-radius: 10px;
        padding: 2%;
        transition:1s;
     }
    
    p, p ~ p {
        opacity:0;
        transition-property:opacity;
        transition-duration:1.5s;
        transform:scale(0);
    }
    &:hover, &:focus{
        max-height:900px;
        & > h3 {
        color:$color-3;
        border:3px solid red;
        opacity:1;
        }
        p, p ~ p {
            opacity:1;
            background-color: white;
            opacity: .8;
            border-radius: 10px;
            padding: 2%;
            transform:scale(1);
        }
    }
    @media screen and (max-width: 39.9em) {
        width: 90vw;
        margin: 0 auto;
        h3 {
            padding: 50px 2% 2% 2%;
            &:after {
                content: "";
                background-image: url('assets/images/muranus.png');
                background-repeat: no-repeat;
                position: absolute;
                top: 3170px;
                left: 40vw;
                width: 20%;
                height: 20%;   
                @media screen and (min-width: 420px) {
                    top: 3130px;
                }  
                @media screen and (min-width: 432px) {
                    top: 3090px;
                }  
                @media screen and (min-width: 438px) {
                    top: 3070px;
                }   
                @media screen and (min-width: 442px) {
                    top: 3020px;
                }  
                @media screen and (min-width: 454px) {
                    top: 3000px;
                }  
                @media screen and (min-width: 472px) {
                    top: 2980px;
                }   
                @media screen and (min-width: 480px) {
                    top: 2960px;
                }   
                @media screen and (min-width: 508px) {
                    top: 2940px;
                }  
                @media screen and (min-width: 512px) {
                    top: 2910px;
                } 
                @media screen and (min-width: 518px) {
                    top: 2890px;
                }  
                @media screen and (min-width: 520px) {
                    top: 2860px;
                }  
                @media screen and (min-width: 553px) {
                    top: 2830px;
                } 
                @media screen and (min-width: 600px) {
                    top: 2790px;
                }  
                @media screen and (min-width: 624px) {
                    top: 2760px;
                }  
                @media screen and (min-width: 633px) {
                    top: 2730px;
                }   
            }
             
        }
    }
    @media screen and (min-width: 40em) {
        order: 2;
        width: 31vw;
        margin: 0 0 0 1%;
    } //end .benefits large view
} //end .benefits