footer {
    order: 4;
    display: flex;
    justify-content: center;    
    background: white;
    opacity: .8;
    border: 3px solid $color-2;
    border-radius: 10px;

    @media screen and (max-width: 39.9em) {
        width: 84vw;
        margin: 0 auto;
        padding: 3%;        
        .zen-validate-html {
            padding-right: 1em;
            border-right: solid 2px $color-2;
        } 
        .zen-license, .zen-validate-css, .zen-accessibility {
            padding-right: 1em;
            padding-left: 1em;
            border-right: solid 2px $color-2;
        } 
        .zen-github {
            padding-left: 1em;
        }
    }
    @media screen and (min-width: 40em) {
        width: 95vw;
        margin: 150vh auto 0 auto;
        padding: 1%;
        .zen-validate-html, .zen-license, .zen-validate-css, .zen-accessibility {
            padding-left: 2em;
            padding-right: 2em;
            border-right: solid 2px $color-2;
        } 
        .zen-github {
            padding-left: 2em;
            padding-right: 2em;
        }
    } //end footer large view (no small view code)
    @media screen and (min-width: 66em) { //start of large screen perspective of header
        width: 95vw;
        margin: 150vh auto 0 auto;
        padding: 1%;
        border-right: none;
        transform-origin:center;
        transform:perspective(30em) rotateY(60deg) rotateX(10deg) rotateZ(-20deg);
        transition:all 1.5s ease;        
        .main {
            perspective:10em;
        }
        .zen-validate-html, .zen-license, .zen-validate-css, .zen-accessibility {
            padding-left: 1.5em;
            padding-right: 1.5em;
            border-right: solid 2px $color-2;
        } 
        .zen-github {
            padding-left: 1.5em;
            padding-right: 1.5em;
        }
    } //end footer large view with perspective
} //end footer