footer {
    order: 4;
    display: flex;
    justify-content: center;
    font-family: $secondary-font;
    font-size: 1.4rem;
    background: white;
    opacity: .8;
    border:1px solid $color-3;
    border-radius: 20px 20px 0 0;
    a:link {
        color: $color-2;
        text-decoration: none;
    }
    a:visited {
        color: $color-2;
    }
    a:hover {
        color: $color-3;
    }
    a:active {
        color: $color-4;
    }
    @media screen and (max-width: 39.9em) {
        width: 85vw;
        margin: 0 auto;
        padding: 3%;
        font-size: 1rem;
        .zen-validate-html {
            padding-right: 1em;
            border-right: solid 2px $color-2;
        } 
        .zen-license, .zen-validate-css, .zen-accessibility {
            padding-right: 1em;
            padding-left: 1em;
            border-right: solid 2px $color-2;
        } 
        .zen-github {
            padding-left: 1em;
        }
    }
    @media screen and (min-width: 40em) {
        width: 95vw;
        margin: 150vh auto 0 auto;
        padding: 1%;
        .zen-validate-html, .zen-license, .zen-validate-css, .zen-accessibility {
            padding-left: 2em;
            padding-right: 2em;
            border-right: solid 2px $color-2;
        } 
        .zen-github {
            padding-left: 2em;
            padding-right: 2em;
        }
    } //end footer large view (no small view code)
} //end footer