.participation {
    max-height:100px;
    transition:max-height 1s ease;
    h3 { //accordian style text boxes below
        background-color: white;
        opacity: .8;
        border-radius: 10px;
        padding: 2%;
        transition:1s;
        &:after{
            border-top:0 solid red;
             border-bottom:10px solid green;
            transition:border-top .1s, border-bottom .1s .1s;
        }
    }
    p, p ~ p {
        opacity:0;
        transition-property:opacity;
        transition-duration:1.5s;
        transform:scale(0);
    }
    &:hover, &:focus{
        max-height:900px;
        & > h3 {
        color:$color-3;
        border:3px solid red;
        opacity:1;
        }
        p, p ~ p {
            background-color: white;
            opacity: .8;
            border-radius: 10px;
            padding: 2%;
            transform:scale(1);
        }
    }
    @media screen and (max-width: 39.9em) {
        width: 90vw;
        margin: 0 auto;
        h3 {
            padding: 50px 2% 2% 2%;
            &:after {
                content: "";
                background-image: url('assets/images/msaturn.png');
                background-repeat: no-repeat;
                position: absolute;
                top: 2450px;
                left: 45vw;
                width: 100%;
                height: 100%;
                @media screen and (min-width: 437px) {
                    top: 2430px;
                } 
                @media screen and (min-width: 442px) {
                    top: 2390px;
                }  
                @media screen and (min-width: 455px) {
                    top: 2370px;
                }    
                @media screen and (min-width: 507px) {
                    top: 2350px;
                } 
                @media screen and (min-width: 516px) {
                    top: 2310px;
                }  
                @media screen and (min-width: 521px) {
                    top: 2280px;
                }  
                @media screen and (min-width: 608px) {
                    top: 2230px;
                }                  
            }
        }
    }
    @media screen and (min-width: 40em) {
        order: 3;
        width: 31vw;
        margin: 0 1.5% 0 1.5%;
    } //end .participation large view	
} //end .participation