.requirements {
    max-height:100px;
    transition: max-height 1s ease;
    h3 {
        background-color: white;
        opacity: .8;
        border-radius: 10px;
        padding: 2%;
        transition:1s;
    }
    p, p ~ p {
        opacity:0;
        transition-property:opacity;
        transition-duration:1.5s;
        transform:scale(0);
    }
    &:hover, &:focus{
        max-height:2000px;
        & > h3 {
        color:$color-3;
        border:3px solid red;
        opacity:1;
        }
        p, p ~ p {
            opacity:.8;
            background-color: white;
            border-radius: 10px;
            padding: 2%;
            transform:scale(1);
        }
    }
    @media screen and (max-width: 39.9em) {
        width: 90vw;
        margin: 0 auto;
        max-height:100px;
        transitioni:max-height 1s ease;
        h3 {
            padding: 50px 2% 2% 2%; 
            &:after {
                content: "";
                background-image: url('assets/images/mneptune.png');
                background-repeat: no-repeat;
                position: absolute;
                top: 3445px;
                left: 40vw;
                width: 100%;
                height: 100%;   
                @media screen and (min-width: 432px) {
                    top: 3420px;
                } 
                @media screen and (min-width: 438px) {
                    top: 3400px;
                }  
                @media screen and (min-width: 442px) {
                    top: 3340px;
                } 
                @media screen and (min-width: 472px) {
                    top: 3300px;
                }   
                @media screen and (min-width: 498px) {
                    top: 3260px;
                }  
                @media screen and (min-width: 512px) {
                    top: 3220px;
                }  
                @media screen and (min-width: 520px) {
                    top: 3160px;
                }  
                @media screen and (min-width: 576px) {
                    top: 3130px;
                }   
                @media screen and (min-width: 600px) {
                    top: 3100px;
                }      
                @media screen and (min-width: 608px) {
                    top: 3060px;
                }       
            }
        }
    }
    @media screen and (min-width: 40em){
        order: 4;
        width: 31vw;
    } //end .requirements large view
} //end .requirements