.summary, .preamble {
    position: relative; 
    h3 {
        font-size: 2rem;
    }
    p {
        font-size: 1rem;
        padding: 0 10px;
    }
    @media screen and (max-width: 39.9em) {
        width: 88vw;
        margin: 2% auto;
        padding: 1%;
        background: #f2f2f2;
        opacity: .8;
        border-radius: 10px;
    }
    @media screen and (min-width: 40em) {
        display: inline-block;
        margin: 0 1% 1% 1%;
        padding: 1% 3%;
        background: #f2f2f2;
        opacity: .8;
        border-radius: 10px;
        h3 {
            font-size: 2.2rem;
        }
        p {
            font-size: 1.1rem;
            line-height: 1.6rem;
        }
    }
} //end .summary, .preamble	

.summary {
      
    @media screen and (min-width: 40em) {
        width: 60vw;           
    }
    @media screen and (min-width: 1300px) {
        width: 57vw;
        p {
            padding-right: 8vw;  
            &:after {
            content: '';
            background-image: url('assets/images/earth86.png');  
            background-repeat: no-repeat;       
            width: 100%;
            height: 100%;
            position: absolute; 
            top: 20%;
            left: 87%;
            }
        }
    }
}
.preamble {
    @media screen and (max-width: 39.9em) {
        padding: 1%;
        margin: 5% auto 0% auto;
        h3:before {
            content: url('assets/images/mmercury.png');        
            width: 100%;
            display: block;
        }
    }    
    @media screen and (min-width: 40em) {
        width: 60vw;
    }
    @media screen and (min-width: 1300px) {
        width: 44vw;
        padding-left: 16vw;
        h3:before {
            content: '';
            background-image: url('assets/images/uranus.png'); 
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 35%;
            left: 1%;
            transform: rotate(15deg);
        }
    } 
}
