.summary, .preamble {
    @media screen and (max-width: 39.9em) {
        width: 90vw;
        margin: 2% auto;
        padding: 1%;
        background: #f2f2f2;
        opacity: .8;
        border-radius: 10px;
    }
    @media screen and (min-width: 40em) {
        display: inline-block;
        margin: 0 1% 1% 1%;
        padding: 1% 3%;
        background: #f2f2f2;
        opacity: .8;
        border-radius: 10px;
    }
} //end .summary, .preamble	

.summary {
    @media screen and (min-width: 40em) {
        width: 60vw;           
    }
    @media screen and (min-width: 1300px) {
        width: 57vw;
        p {
            padding-right: 8vw;  
        }   
        &:after {
            content: "";        
            background-image: url('assets/images/earth86.png');
            background-repeat: no-repeat;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 440px;
            left: 56vw;
        }
    }
}

.preamble {
    @media screen and (max-width: 39.9em) {
        padding-top: 50px;
        &:after {
            content: "";        
            background-image: url('assets/images/mmercury.png');
            background-repeat: no-repeat;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 620px;
            left: 45vw;
        }
    }    
    @media screen and (min-width: 40em) {
        width: 60vw;
    }
    @media screen and (min-width: 1300px) {
        width: 44vw;
        padding-left: 16vw;
        box-sizing: content-box;
        &:before {
            content: "";        
            background-image: url('assets/images/uranus.png');
            background-repeat: no-repeat;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 730px;
            left: 0px;
            transform: rotate(10deg);
        }
    } 
}