/* Scss Document */

@import url('https://fonts.googleapis.com/css?family=Gaegu|Montserrat&display=swap');
@import 'partials/colors';
@import 'partials/typography';
@import 'partials/stars';

$border-radius:4px;
$spacing:20px;

body {
	margin: 0;
	box-sizing: border-box;
	background: url("assets/images/starsbg.jpg");
	background-size: auto;
	overflow-x: hidden;
	font-family: $primary-font;
}

header h1, header h2{
		animation: headercolor 7s alternate infinite;
	}
	@keyframes headercolor {
		0% {color: $color-5;}
		20% {color: $color-4;}
		40% {color: $color-3;}
		60% {color: $color-2;}
		80% {color: $color-1;}
		100% {color: $color-5;}
		}
	
	

.page-wrapper {
	display: flex;
	flex-flow: column wrap;
	@media screen and (max-width: 39.9em) {
		text-align: center;
		h3 {
            font-size: 2rem;
            color: $color-2;
        }
        p {
            font-size: 1rem;
            padding: 0 10px;
        }
	}	
	@media screen and (min-width: 40em){
		h3 {
			font-size: 2.2rem;
			color: $color-2;
        }
        p {
            font-size: 1.1rem;
            line-height: 1.6rem;
        }   
	}	
	.intro {		
		@media screen and (max-width: 39.9em) { 
			order:1;
		}
		@media screen and (min-width: 40em) {			
		}
		@import 'partials/header';
		@import 'partials/summary-preamble';											
	} //end .intro				

	.main {
		display: flex;
		@media screen and (max-width: 39.9em) {
			flex-direction: column;
			order: 3;
			width: 90vw;
			margin: 0 auto;
		}	
		@media screen and (min-width: 40em) {			
			flex-wrap: wrap;
			background: url("assets/images/blackhole.svg");
			background-repeat: no-repeat;
			background-position: 50% 75vh;
		}	
		@import 'partials/explanation';			
		@import 'partials/participation';			
		@import 'partials/benefits';		
		@import 'partials/requirements';
		@import 'partials/footer';		
	} //end .main
	@import 'partials/sidebar';	
} //end .page-wrapper
	


