/* Scss Document */
@import url("https://fonts.googleapis.com/css?family=Gaegu|Montserrat&display=swap");
/* Scss Document */
/* -------------------------------- 
xTypography 
-------------------------------- */
h1, h2, h3 {
  font-family: "Gaegu", cursive;
  color: #425b9c; }

p {
  font-family: "Montserrat", sans-serif; }

h1 {
  font-size: 4.4rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 0.4em; }

 /* @include MQ(S) {
    font-size: 3.2rem;
  }

  @include MQ(M) {
    font-size: 4rem;
  }
}*/
h2 {
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0; }

/*  @include MQ(S) {
    font-size: 3.8rem;
    margin: 1em 0 1.4em;
  }
}*/
section > h2::before {
  /* number before each section title */
  color: #1e1e1e; }

p {
  font-size: 1.2rem;
  line-height: 1.4;
  color: #8ea0cf;
  /*  @include MQ(S) {
      font-size: 1.4rem;
      line-height: 1.4;
    }*/ }
  p a {
    color: #a3b3d8;
    text-decoration: underline; }

@media screen and (max-width: 39.9em) {
  .page-wrapper {
    display: flex;
    flex-direction: column; }

  .intro {
    order: 1; }

  .main {
    order: 3; }

  .sidebar {
    order: 2; }

  .intro header {
    background-image: url("assets/images/logo-ver-1-sm.jpg");
    height: 350px;
    background-size: cover; }
    .intro header h1 {
      padding-top: 5%; }
    .intro header h1, .intro header h2 {
      color: #ffffff;
      text-shadow: 2px 2px 5px #e2648f;
      text-align: center; }

  /*.design-archives, .zen-resources, .design-selection {
  	font-size:80%;
  	font-style: italic;
  }*/
  .explanation h3, .design-archives h3, .zen-resources h3, .design-selection h3 {
    text-align: center;
    border: 1px solid #e2648f;
    border-radius: 5px; }
  .explanation ul, .explanation p, .explanation p ~ p, .design-archives ul, .design-archives p, .design-archives p ~ p, .zen-resources ul, .zen-resources p, .zen-resources p ~ p, .design-selection ul, .design-selection p, .design-selection p ~ p {
    display: none; }

  .explanation:hover > h3, .explanation:focus > h3, .design-archives:hover > h3, .design-archives:focus > h3, .zen-resources:hover > h3, .zen-resources:focus > h3, .design-selection:hover > h3, .design-selection:focus > h3 {
    color: #e2648f; }
  .explanation:hover ul, .explanation:hover p, .explanation:hover p ~ p, .explanation:focus ul, .explanation:focus p, .explanation:focus p ~ p, .design-archives:hover ul, .design-archives:hover p, .design-archives:hover p ~ p, .design-archives:focus ul, .design-archives:focus p, .design-archives:focus p ~ p, .zen-resources:hover ul, .zen-resources:hover p, .zen-resources:hover p ~ p, .zen-resources:focus ul, .zen-resources:focus p, .zen-resources:focus p ~ p, .design-selection:hover ul, .design-selection:hover p, .design-selection:hover p ~ p, .design-selection:focus ul, .design-selection:focus p, .design-selection:focus p ~ p {
    display: block; }

  /*.wrapper {
  	display:flex;
  	flex-direction:row;
  	align-content: space-between;
  }
  .design-selection,.design-archives,.zen-resources {
  	flex:1 0 auto;
  }*/ }
@media only screen and (min-width: 40em) {
  .page-wrapper {
    display: flex;
    flex-flow: column wrap; }

  .intro {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1em; }
    .intro header {
      position: relative;
      grid-column-start: span 2;
      padding: 5%;
      background-image: url("assets/images/stars.jpg");
      background-size: cover;
      height: 350px;
      text-align: center;
      overflow: hidden; }
      .intro header h1, .intro header h2 {
        color: white;
        text-shadow: 2px 2px 5px #e2648f; }
    .intro h1:before {
      content: "";
      height: 1700px;
      width: 1700px;
      background-image: url("assets/images/SolarSystemFL.png");
      background-repeat: no-repeat;
      position: absolute;
      top: -600px;
      left: -690px;
      animation: rotate 30s infinite linear; }
  @keyframes rotate {
    0% {
      transform: rotate(0deg); }
    100% {
      transform: rotate(360deg); } }
    .intro .summary, .intro .preamble {
      grid-column-start: 1;
      margin: 0 2% 0 0;
      padding: 4%;
      background: #f2f2f2; }

  .main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em; }
    .main .explanation {
      grid-column-start: span 2;
      background: #f2f2f2;
      margin: 0 2.5% 0 0;
      padding: 4%; }
    .main .benefits {
      grid-column-start: 1;
      grid-row-start: 2; }
    .main .participation {
      grid-column-start: 2; }
    .main .requirements {
      grid-column-start: 3; }
    .main footer {
      grid-column-start: span 3; }

  .sidebar {
    position: absolute;
    font-family: "Montserrat", sans-serif;
    top: 575px;
    right: 20px;
    max-width: 33vw;
    margin: 7% 1% 1% 10%;
    padding: 1%;
    background: white;
    line-height: 200%; }
    .sidebar a:link {
      text-decoration: none;
      color: #444444; }
    .sidebar a:hover {
      color: #e2648f; }
    .sidebar a:active {
      color: #425b9c; } }
.participation h3, .benefits h3, .requirements h3 {
  text-align: center;
  border: 1px solid #e2648f;
  border-radius: 5px; }
.participation p, .participation p ~ p, .benefits p, .benefits p ~ p, .requirements p, .requirements p ~ p {
  display: none; }

.participation:hover > h3, .participation:focus > h3, .benefits:hover > h3, .benefits:focus > h3, .requirements:hover > h3, .requirements:focus > h3 {
  color: #e2648f; }
.participation:hover p, .participation:hover p ~ p, .participation:focus p, .participation:focus p ~ p, .benefits:hover p, .benefits:hover p ~ p, .benefits:focus p, .benefits:focus p ~ p, .requirements:hover p, .requirements:hover p ~ p, .requirements:focus p, .requirements:focus p ~ p {
  display: block; }

footer {
  text-align: center;
  font-family: "Gaegu", cursive;
  font-size: 1.4rem; }
  footer a:link {
    color: #425b9c;
    text-decoration: none; }
  footer a:visited {
    color: #425b9c; }
  footer a:hover {
    color: #e2648f; }
  footer a:active {
    color: #444444; }

.zen-validate-html:after, .zen-license:after, .zen-validate-css:after, .zen-accessibility:after {
  content: "                |                "; }

/*# sourceMappingURL=style.css.map */
