/* Scss Document */

@import url('https://fonts.googleapis.com/css?family=Gaegu|Montserrat&display=swap');

@import 'partials/colors';

// fonts & typography
@import 'partials/typography';

$border-radius:4px;
$spacing:20px;

@media screen and (max-width:39.9em){

	.page-wrapper {
		display:flex;
		flex-direction: column;
		text-align: center;
	}

	.intro {order:1;}
	.main {order:3;}
	.sidebar {order:2;}


	.intro header {
		background-image: url('assets/images/logo-ver-1-sm.jpg');
		height: 350px;
		background-size: cover;
		h1 {
			padding-top: 5%;
		}
		h1, h2 {
			color: $color-5;
			text-shadow: 2px 2px 5px $color-3;
			text-align: center;
		}
	}
	
		//accordian style text boxes below for the explanation section
		/*.design-archives, .zen-resources, .design-selection {
			font-size:80%;
			font-style: italic;
		}*/

		.explanation, .design-archives, .zen-resources, .design-selection {
			h3 {
				text-align:center;
				border:1px solid $color-3;
				border-radius:5px;
			}
			
			ul, p, p ~ p {
				display:none;
			}
		}	

		.explanation, .design-archives, .zen-resources, .design-selection {
			&:hover, &:focus{
				& > h3 {
				color:$color-3;
				}
				ul, p, p ~ p {
					display:block;
				}
			}
		} 
		
	/*.wrapper {
		display:flex;
		flex-direction:row;
		align-content: space-between;
	}
	.design-selection,.design-archives,.zen-resources {
		flex:1 0 auto;
	}*/
	
}


@media only screen and (min-width: 40em) {

	.page-wrapper {
		display: flex;
		flex-flow: column wrap;
	}
	.intro {
		display: grid;
		grid-template-columns: 2fr 1fr;
		grid-gap: 1em;
		header {
			position: relative;
			grid-column-start: span 2;
			padding: 5%;
			background-image: url('assets/images/stars.jpg');
			background-size: cover;
			height: 350px;
			text-align: center;
			overflow: hidden;
			h1, h2 {
				color: white;
				text-shadow: 2px 2px 5px $color-3;
			}
		}
		h1:before {
			content: "";
			height: 1700px;
			width: 1700px;
			background-image: url('assets/images/SolarSystemFL.png');
			background-repeat: no-repeat;
			position: absolute;
			top: -600px;
			left: -690px;
			animation: rotate 30s infinite linear;
		  }
		  @keyframes rotate {
			  0% {
				transform: rotate(0deg);
			  }    
			  100% {
				transform: rotate(360deg);
			  }
			}	
		.summary, .preamble {
			grid-column-start: 1;
			margin: 0 2% 0 0;
			padding: 4%;
			background: #f2f2f2;
		}	
	}
	
	.main {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;	
		grid-gap: 1em;
		.explanation{
			grid-column-start: span 2;
			background: #f2f2f2;
			margin: 0 2.5% 0 0;
			padding: 4%;
		}
		.benefits {
			grid-column-start: 1;
			grid-row-start: 2;
		}
		.participation {
			grid-column-start: 2;
		}
		.requirements {
			grid-column-start: 3;
		}
		footer {
			grid-column-start: span 3;
		}
	}
	
	.sidebar {
		position: absolute;
		font-family: $primary-font;
		top: 575px;
		right: 20px;
		max-width: 33vw;
		margin: 7% 1% 1% 10%;
		padding: 1%;
		background: white;
		line-height: 200%;
		a:link {			
			text-decoration: none;
			color: $color-4;
		}
		a:hover {
			color: $color-3;
		}
		a:active {
			color: $color-2;
		}
	}
}

//accordian style text boxes below
.participation, .benefits,.requirements{
	h3 {
		text-align:center;
		border:1px solid $color-3;
		border-radius:5px;
	}

	p, p ~ p {
		display:none;
	}
}

.participation, .benefits, .requirements{
	&:hover, &:focus{
		& > h3 {
		color:$color-3;
		}
		p, p ~ p {
			display:block;
		}
	}
} 
//FOOTER----------------------------------------
footer {
	text-align: center;
	font-family: $secondary-font;
	font-size: 1.4rem;
	a:link {
		color: $color-2;
		text-decoration: none;
	}
	a:visited {
		color: $color-2;
	}
	a:hover {
		color: $color-3;
	}
	a:active {
		color: $color-4;
	}
}

.zen-validate-html:after, .zen-license:after, .zen-validate-css:after, .zen-accessibility:after {
	content: "                |                ";
}
