/* Scss Document */
//NAVIGATION

//test

.cd-navigation {
	font-family: 'Gaegu', cursive;
	font-size: 1.2em;
	a{
		&:link{
			color: $color-2;
		}

		&:visited{
			color: $color-2;
		}

		&:hover {
			color: $color-3;
			font-size: 1.25em;
			transition: 1s;
		}
		
		&:active{
			color: $color-1;
		}		
		
	}
	
/*	ul{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	
		li {
			text-align: center;	
		}	
	}*/
}
