/* Scss Document */
//NAVIGATION

//test

.cd-navigation {
	a{
		&:link{
			color: $color-1;
		}
		
		&:active{
			color: $color-3;
		}
		
		&:hover {
			color: $color-3;
			font-size: 1.25em;
			transition: 1s;
		}
		
		&:visited{
			color: $color-4;
		}
	}
	ul{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	
		li {
			text-align: center;	
		}	
	}
}